.note-container{
    margin:auto;
    width:50vw;
    margin-top: 30px;
}

.note-form{
    display: flex;
    flex-direction: column;
}

.button-done{
    display: flex;
    flex-flow: column-reverse;
}

.notes-viewer{
    display: flex;
    flex-flow: wrap;
    margin: 30px;
    
}

mat-card {
    margin : 10px;
}