<app-header></app-header>

<div class="note-container">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Note
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="note-form">
            <mat-form-field>
                <input matInput [(ngModel)]='note.title' type="text" placeholder="title" id="title">
            </mat-form-field>
            <mat-form-field>
                <textarea matInput [(ngModel)]='note.text' placeholder="Note Text" id="text"></textarea>
            </mat-form-field>
        </div>
        <button class="button-done" (click)="takeNote()" mat-button>Done</button>
    </mat-expansion-panel>
</div>
<div class="notes-viewer">
    <mat-card *ngFor='let note of notes'>
        <mat-card-title>{{note.title}}</mat-card-title>
        <mat-card-content>{{note.text}}</mat-card-content>
    </mat-card>
</div>
<app-login></app-login>
<app-note></app-note>

<nav>
    <a routerLink='/login'>login</a> |
    <a routerLink='/dashboard'>Dasboard</a>
</nav>
<router-outlet></router-outlet>